<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <%= @question %>
      <footer class="blockquote-footer pt-3"> You</footer>
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body ">
    <blockquote class="blockquote mb-0 pb">
      <%= @answ %>
      <footer class="blockquote-footer pt-3">Your coach</footer>
    </blockquote>
  </div>
</div>
