    <p>Enter a question to ask ! :  </p>
  <form class="input-group" action="answer" data-turbo="false">
    <input class="input2" type="text" name="question">
    <button class="btn btn-primary" type="submit" value="Ask!"> Ask!</button>
  </form>
